<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lie Hagi Weather</title>
</head>
<body>
    <div class="container">
        <div class="box-1">
            <form action="forecast" method="post">
                <input type="text" name="state" value="" placeholder="State Code" required>
                <input type="submit" name="Get Forecast">
            </form>
        </div>
    </div>    
</body>
</html>